# --- Python ---
__pycache__/
*.py[cod]
*.pyo

# --- Entornos virtuales ---
venv/
.env/

# --- Archivos temporales ---
*.log
*.tmp
*.swp
.DS_Store
/tmp_*

# --- Notebooks ---
.ipynb_checkpoints/

# --- IDEs ---
.vscode/
.idea/

# --- Archivos de Excel/CSV temporales ---
~$*.xls*
*.bak

# Packaging
*.egg-info/
*.egg
dist/
build/